* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/********************************Preloader*****************************/

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}
/*****************navbar*******************/
.fa.fa-navicon {
  color: white;
}

.navbar {
  font-weight: 600;
  color: #fff !important;

  background: linear-gradient(
      135deg,
      rgba(29, 29, 29, 0.05) 0%,
      rgba(29, 29, 29, 0.05) 17%,
      rgba(27, 27, 27, 0.05) 17%,
      rgba(27, 27, 27, 0.05) 34%,
      rgba(31, 31, 31, 0.05) 34%,
      rgba(31, 31, 31, 0.05) 93%,
      rgba(242, 242, 242, 0.05) 93%,
      rgba(242, 242, 242, 0.05) 100%
    ),
    linear-gradient(
      135deg,
      rgba(129, 129, 129, 0.05) 0%,
      rgba(129, 129, 129, 0.05) 66%,
      rgba(117, 117, 117, 0.05) 66%,
      rgba(117, 117, 117, 0.05) 91%,
      rgba(199, 199, 199, 0.05) 91%,
      rgba(199, 199, 199, 0.05) 100%
    ),
    linear-gradient(
      135deg,
      rgba(31, 31, 31, 0.07) 0%,
      rgba(31, 31, 31, 0.07) 15%,
      rgba(139, 139, 139, 0.07) 15%,
      rgba(139, 139, 139, 0.07) 23%,
      rgba(200, 200, 200, 0.07) 23%,
      rgba(200, 200, 200, 0.07) 29%,
      rgba(102, 102, 102, 0.07) 29%,
      rgba(102, 102, 102, 0.07) 100%
    ),
    linear-gradient(90deg, rgb(19, 196, 228), rgb(126, 8, 222));
}

.navbar-brand {
  position: relative;
  text-transform: uppercase;
  padding: 0px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding-left: 1em;
  letter-spacing: 5px;
  color: #fff;
}

.navbar a:hover {
  color: #fff;
}

ul.navbar-nav li {
  position: relative;
  letter-spacing: 2px;
  text-transform: capitalize;
}

ul.navbar-nav li a {
  color: #fff;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 80%;
  width: 0%;
  height: 2px;
  border-bottom: 2px solid #fff;
  transition: all 0.4s linear;
}

.nav-link:hover::before {
  width: 80%;
}

/***********************navbar end ***************/

/********************home**********************/

.landing {
  background: linear-gradient(
      135deg,
      rgba(29, 29, 29, 0.05) 0%,
      rgba(29, 29, 29, 0.05) 17%,
      rgba(27, 27, 27, 0.05) 17%,
      rgba(27, 27, 27, 0.05) 34%,
      rgba(31, 31, 31, 0.05) 34%,
      rgba(31, 31, 31, 0.05) 93%,
      rgba(242, 242, 242, 0.05) 93%,
      rgba(242, 242, 242, 0.05) 100%
    ),
    linear-gradient(
      135deg,
      rgba(129, 129, 129, 0.05) 0%,
      rgba(129, 129, 129, 0.05) 66%,
      rgba(117, 117, 117, 0.05) 66%,
      rgba(117, 117, 117, 0.05) 91%,
      rgba(199, 199, 199, 0.05) 91%,
      rgba(199, 199, 199, 0.05) 100%
    ),
    linear-gradient(
      135deg,
      rgba(31, 31, 31, 0.07) 0%,
      rgba(31, 31, 31, 0.07) 15%,
      rgba(139, 139, 139, 0.07) 15%,
      rgba(139, 139, 139, 0.07) 23%,
      rgba(200, 200, 200, 0.07) 23%,
      rgba(200, 200, 200, 0.07) 29%,
      rgba(102, 102, 102, 0.07) 29%,
      rgba(102, 102, 102, 0.07) 100%
    ),
    linear-gradient(90deg, rgb(19, 196, 228), rgb(126, 8, 222));
}

.home-inner {
  padding-top: 1em;
}

.home-inner h1 {
  font-family: "Ruthie", cursive;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 3px;
  font-size: 5.3rem;
  margin-right: auto;
  transform: rotate(-10deg);
  color: #fff;
}

.home-inner h3 {
  letter-spacing: 3px;
  padding-bottom: 40px;
  font-family: "Ruthie", cursive;
  font-size: 1.5em;
  padding-top: 20px;
  color: #fff;
  transform: rotate(-10deg);
}

.landing .row {
  margin-left: 20px;
  margin-right: 20px;
}

.mainimage img {
  background-color: rgba(154, 154, 211, 0.2);
  border-radius: 71% 29% 55% 45% / 67% 68% 32% 33%;
  margin-bottom: 40px;
}

.ubtm-img {
  width: 100%;
  height: 100%;
}

.home-inner a {
  text-decoration: none !important;
  width: 100%;
  height: 60%;
  padding: 4px 16px;
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 0.6em;
  color: white;
  background: #2a454e;
}

.home-inner a:hover {
  color: black;
  background: white;
}

/**************************home  end here****************/

/*************************about **********************/
.disable-a {
  pointer-events: none;
}

#about {
  padding-top: 4.5em;
}

.aboutme-inner img {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 8px -1px rgba(58, 57, 57, 0.75);
}

#about .title-head::before {
  content: "";
  border-radius: 1em;
  background: #483a6f;
  height: 4px;
  width: 5.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(1.3em);
}

.title-head {
  text-align: center;
  color: #8919bb;
}

.aboutme-inner2 h1 {
  color: #483a6f;
}

.aboutme-inner2 h5 {
  padding-top: 2em;
}

.about-des {
  margin-bottom: 2em;
  border-radius: 5px;
  color: #303749;
  padding-top: 1.5rem;
}

.about-des p {
  font-weight: 500;
  line-height: 1.5em;
}

.aboutme-inner2 a {
  text-decoration: none !important;
  width: 100%;
  height: 60%;
  padding: 4px 16px;
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 0.6em;
  color: white;
  background: #483a6f;
}

.aboutme-inner2 a:hover {
  color: white;
  background: #382c5a;
}

/***************************about end here***************/

/******************Skill section ****************/

#skills .title-head::before {
  content: "";
  border-radius: 20px;
  background: #3863b1;
  height: 4px;
  width: 3.3em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(1.3em);
}

#skills .title-head {
  color: #3863b1;
}

#skills {
  padding-top: 5em;
}

#skills h4 {
  padding-top: 30px;
  padding-bottom: 5px;
}

.skill-info {
  color: #106794;
  margin: 2rem 0;
}
.skillpic {
  width: 80%;
}

/* #skills img {
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  margin-top: 20%;
} */
/**************************projects************************/
#projects {
  padding-top: 4em;
  /* padding-left: 60px; */
}

#projects h1 {
  padding-bottom: 1em;
  text-transform: uppercase;
  color: #2a454e;
}

#projects h1::before {
  content: "";
  border-radius: 2em;
  background: #2a454e;
  height: 4px;
  width: 4.8em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(1.3em);
}
/*****************************calculator***********************************/
.calculator {
  text-align: center;
}
.calculator h5 {
  color: #5b6e80;
}

/*********************************RPS***************************************/
.rps {
  text-align: center;
}
.rps h5 {
  color: #5b6e80;
}

/**********************hobbies*****************************/
/* 
#hobbies {
  padding-top: 4.3rem;
  padding-left: 60px;
}

#hobbies h1 {
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #550d73;
}

#hobbies h1::before {
  content: "";
  border-radius: 20px;
  background: #550d73;
  height: 4px;
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(55px);
}
 */
/**************************************hobbies end***********************************/

/************************************Contact me********************************************/

#footer {
  background: linear-gradient(
      135deg,
      rgba(29, 29, 29, 0.05) 0%,
      rgba(29, 29, 29, 0.05) 17%,
      rgba(27, 27, 27, 0.05) 17%,
      rgba(27, 27, 27, 0.05) 34%,
      rgba(31, 31, 31, 0.05) 34%,
      rgba(31, 31, 31, 0.05) 93%,
      rgba(242, 242, 242, 0.05) 93%,
      rgba(242, 242, 242, 0.05) 100%
    ),
    linear-gradient(
      135deg,
      rgba(129, 129, 129, 0.05) 0%,
      rgba(129, 129, 129, 0.05) 66%,
      rgba(117, 117, 117, 0.05) 66%,
      rgba(117, 117, 117, 0.05) 91%,
      rgba(199, 199, 199, 0.05) 91%,
      rgba(199, 199, 199, 0.05) 100%
    ),
    linear-gradient(
      135deg,
      rgba(31, 31, 31, 0.07) 0%,
      rgba(31, 31, 31, 0.07) 15%,
      rgba(139, 139, 139, 0.07) 15%,
      rgba(139, 139, 139, 0.07) 23%,
      rgba(200, 200, 200, 0.07) 23%,
      rgba(200, 200, 200, 0.07) 29%,
      rgba(102, 102, 102, 0.07) 29%,
      rgba(102, 102, 102, 0.07) 100%
    ),
    linear-gradient(90deg, rgb(19, 196, 228), rgb(126, 8, 222));
}
/*
#contactme h1::before{
    content: '';
    border-radius: 20px;
    background:#fff;
    height: 4px;
    width: 290px ;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(55px);
}*/
.contact h1 {
  font-family: "Ruthie", cursive;
}
.contact p {
  font-family: "Ruthie", cursive;
  color: #fff;
  font-size: 2rem;
}

.talk {
  letter-spacing: 1px;
}

.talk::before {
  content: "";
  border-radius: 1em;
  background: #fff;
  height: 4px;
  width: 8.1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(2.4em);
}

.github::before {
  content: "";
  border-radius: 20px;
  background: #fff;
  height: 4px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}

.socialmedia {
  display: flex;
  align-items: center;
}

.socialmedia ul li {
  list-style: none;
  height: 50px;
  width: 50px;
  margin: 60px 0px;
  font-weight: 60px;
  transform: rotate(-30deg) skew(25deg);
  background: rgb(182, 179, 179);
}

.socialmedia ul li span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5em;
}

.socialmedia ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.socialmedia ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.socialmedia ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.socialmedia ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.socialmedia ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

.socialmedia .ul1 ul li:nth-child(1) span {
  background: #dd4b39;
}

.socialmedia .ul1 ul li:nth-child(2) span {
  background: #3b5999;
}

.socialmedia .ul2 ul li:nth-child(1) span {
  background: #55acee;
}

.socialmedia .ul2 ul li:nth-child(2) span {
  background: #e4405f;
}

.socialmedia ul li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.github ul li {
  list-style: none;
  height: 60px;
  width: 60px;
  margin: 60px 0px;
  font-weight: 60px;
  transform: rotate(-30deg) skew(25deg);
  background: rgb(182, 179, 179);
}

.github ul li span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2em;
}

.github ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.github ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.github ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.github ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.github ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

.github ul li:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.github ul li span {
  background: #000;
}
/**********************Mobile responsive***************************************/

@media (max-width: 575px) {
  /*****************nav logo**************/
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-nav {
    text-align: right;
  }
  .nav-link:hover::before {
    width: 0em;
  }
  .home-inner h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
}
